apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: sync-server
  name: sync-server
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: sync-server
